{
	"data": "ENC[AES256_GCM,data:JQLNkbjtATxfo6xoBsIK5CXLal/WbW46H96//HebukzVY0CCU8ALMzGzy4aU0bbksR5Wq75LYtgmAKtZV4abfoE/m5xE8/6L6wXjeU4lg/MtnVFFCsm/nsQfd8UT8Y2Wzzff9skMgkJB+u+ZZ3AAHerEkVbcBzZ3N+XjbGVWqIxrG6W6If2NUCLO/qopbWTKDLBVApUxAKflSVAIhhwLPzTZ1eYE6UWfN/zSdW/wZ6xTai9CvsAkrg47TFu7pyc9AgaBTUrL5luG9QQRpv90mxAldSnsjuTVFVvV3rDbj3gYkLWVZgvyhpZfMUB3sZ/W5ff6EETQb+gjXWxnukZqwu8HwH4U6Kc+Lps25oa/+cFoMN8uTpw/Cf70MBMVehWfPsJQnO4xEndAvYSljtEA7vftnX/oe1nDdvw2fLESKBcp2UGgg7WkdJLXKoyniXouTNYH3MeFlvyA4Uis7d8y8zI1PpN4VpaD,iv:qmGF2rT/GixcxsniyzzWK70xkjZ1kQpIx689nZjq640=,tag:Apmy7MhejtD0DOyfvhML4w==,type:str]",
	"sops": {
		"age": [
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBBbTZZK3NMYUltK3BHd3pL\ncEloa0FDVG1wY256RkJ1QjI5QzZrWXE3dDJvCmpBalNKQUlPWkJkWVV6YnVzQ1lw\nakI3eitaVTNkZ2gzRGtTYk94VkpaL3MKLS0tIE9laGM2RjhnTFpSNUV3MW9QSml0\nOGNwV25mekNtQVRwc0VsYmtKRFpta28KillK6bDnbey/Y73Wg6V5TsD4VpHDOiNH\nnKpx5WWltf9qeQb6aaWagXuo7hkj26e50BkNBTBpMup1uj7UUMqX5Q==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "age1h7ef3wg7w05u9fd4y2vhngfx9y4tfuw28pp4txedzz3pss0lfsnqqsqrg4"
			}
		],
		"lastmodified": "2026-07-01T19:00:01Z",
		"mac": "ENC[AES256_GCM,data:5434akajqXFzIGVcvZ0vKE+jh24X3eue4BF/AzcfIbFPPFUFKbNOQFBox617dh7u0KTtmaznb69McBWPAHzu8q20Q5+HBFEpye1WCpwdC4+nC0dOxpQ8KWW0KLaQEmrYrgree2aMHvuI4HCgdDfUu4qz1z70llTFouPx8xFY1Jk=,iv:EUe2mXJDF7Rvxe67/hyL4WK1nbRKPLf5hlTsy7WrE20=,tag:gZOE9vPxNdQRTPO8HCcvsQ==,type:str]",
		"version": "3.13.2"
	}
}
