# Server Settings
SERVER_DOTNET_ENVIRONMENT=
SERVER_IP_ADDRESS=
SERVER_PORT=
SERVER_MAX_REQUESTS_PER_MINUTE=
# Client Settings
SERVER_IP_ADDRESS_TO_CONNECT=
SERVER_PORT_TO_CONNECT=
# Redis Settings
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
# Postgres Settings
POSTGRES_DB=
POSTGRES_PORT=