# Server Settings
SERVER_DOTNET_ENVIRONMENT=Development
SERVER_IP_ADDRESS=0.0.0.0
SERVER_PORT=8040
SERVER_MAX_REQUESTS_PER_MINUTE=10

# Client Settings
SERVER_IP_ADDRESS_TO_CONNECT=127.0.0.1
SERVER_PORT_TO_CONNECT=8040

# Redis Settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password123

# Postgres Settings
POSTGRES_DB=silkara_db
POSTGRES_PORT=5432
