{
	"data": "ENC[AES256_GCM,data:imxf7n+qB6oBFOq7lmaZWeLPrF6yS0488bs16ian1SKTNNz0T4ZAcgzFoL8u8IbKjuMtXoo28m1Z453n1ZEAlLHTZ0UOgG+hRzYzxvUhDcprrgEZpC23avlVbZp2ouSb35EtFIpj+/pReEUi6agWcbgQ2cdIYp27B3e5O+B85uYxsd5GiAqye6Edo62WKwUUCoMMJpx11ayOrsdzsufelJyuYNvrnrIHMIxuWYDYUmUgvkd/T2ADpz1rsBGCAyIWJBy5IicboFfA22gh/cWtJ9qM5M9EoEWl/xi47sErIjbVIf2ufgOY5unf5lf0AZWa7D4HD+UlHH0rHrPJ8EUVFM9h5G4I8IqwYCvEhm2/x0YGERhmHaLPEUHzJQ+j,iv:YFzSDV4zX8yjsGgZg9bU4Kkd5SXT7TWbq9AmdXD+vNc=,tag:MY4o/eJhjSWRThmrqWedIQ==,type:str]",
	"sops": {
		"age": [
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6REZXcHBOeVhSenJ4QXpa\nYjRodDBZc0VsU2d5M3NjbWFaTzAvZUo3dnlBCnJ5L3JjeXB1cVBVVUl4eTBaNTdS\nTm83ZlV2UGY2WHF5N05ud2Z3NUJCZE0KLS0tIFU1RnZMRElhMktFVVNSY0VRMWZq\nYTRTeEdxc0ROQ0lrckhQNENVczV3VTAKh/4V1w2s2cURywujNScyo2QwNOwuzbCt\n7edusunVmjt/g6oVupQ+IDFZ42HpXiyVrIeddFhqrzQeqVFlzlRDjQ==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "age1h7ef3wg7w05u9fd4y2vhngfx9y4tfuw28pp4txedzz3pss0lfsnqqsqrg4"
			}
		],
		"lastmodified": "2026-07-01T19:49:10Z",
		"mac": "ENC[AES256_GCM,data:AMefImQ2Pl+srs7UgpBCHpjNjHxC/EdsfE6I10JekTp8C2IZxIZauFC1usQHhl//Sticlk0Nv5PsB7bjwrgmP7WirmGHdM5DUPc/roHi44aSfW5o740gnY1ZUDDfvaOkfYmT027+Be5CUilu/nH89w6hfB3PyAEezmbjnXhFYPk=,iv:JojxO/gZmJZfEhQS9wHF5zjpHIdX2QyFzEUrh7Hsb7c=,tag:mazHiC2ruFe/0sHD0VC6zQ==,type:str]",
		"version": "3.13.2"
	}
}
